.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header {
    padding-left: 10px;
    background-color: #273852;
    height: 60px;
    font-family: Arial, sans-serif;
}
.main-wrapper {
    width: 960px;
    margin: 0 auto;
}
.section {
    clear: left;
    padding-top: 10px;
    font-family: Arial;
}
.header p {
    padding-top: 1px;
}
.header h2, h6 {
    display: inline;
    color: #fff;;
}
.linebreak {
    padding-top: 10px;
    border-top: solid;
    border-top-width: 1px;
}
.news-logo {
    background-color: lightgray;
    width: 150px !important;
    height: 170px;
    margin-top: 5px;
}
.text-section {
    width: 550px !important;
    padding-left: 15px;
}
.content {
    font-size: 14px;
}
.continue-reading {
    background-color: #d65d40;
    width: 110px !important;
    padding: 5px !important;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}
.section div {
    float: left;
    width: 10px;
}
.category-subscribe {
    padding-top: 10px;
    padding-left: 10px;
}
.subscribe {
    padding-top: 5px;
    margin-top: 15px;
}
.all {
    padding-top: 10px;
}
.dropdown-category {
    width: 240px !important;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 0;
}
.email-address {
    padding: 5px 0;
}
.text-header {
    width: 350px !important;
    padding-top: 5px;
}
.subscribe-button {
    background-color: #232323;
    color: #fff;
    padding: 7px;
    padding-top: 8px;
    cursor: pointer;
    width: 55px;
    font-size: 12px;
    margin-left: -5px;
}
.posted-date {
    font-size: 11px;
    margin-top:-10px;
}
.footer {
    background-color: #273852 !important;
    padding-left: 10px;
    clear: left;
    height: 60px;
    text-align: center;
    padding-top: 5px;
}
